<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423088012712-ctduf4eq07cm252b21tvm18e80qgb5kv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423088012712-ctduf4eq07cm252b21tvm18e80qgb5kv</string>
	<key>API_KEY</key>
	<string>AIzaSyCWrCpd3LaEZR1b4Zn1_9ueoeYn5crhaN4</string>
	<key>GCM_SENDER_ID</key>
	<string>423088012712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project.Foodly</string>
	<key>PROJECT_ID</key>
	<string>foodly-cfef4</string>
	<key>STORAGE_BUCKET</key>
	<string>foodly-cfef4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423088012712:ios:5b815fb16f5eec3005f19d</string>
</dict>
</plist>